/***********************************************************************************************************************
*********** benefits
***********************************************************************************************************************/

.benefits {
  padding: 0;

  h2 {
    font-family: 'Panton Bold', sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 1;
    text-transform: none;
    text-align: center;
    padding: 35px 0;
    background-image: linear-gradient(to top, rgb(35,102,201) 23%, rgb(18,129,218) 65%, rgb(0,155,235) 100%);
  }

  @media(max-width: 980px) {

    h2 {
      padding: 15px 0;
      font-size: 32px;
    }

  }

  @media(max-width: 768px) {

    .benefits-image {
      width: 150%;
      margin-left: -25%;
    }

  }

}