/***********************************************************************************************************************
*********** cooling-about
***********************************************************************************************************************/

.cooling-about {
  position: relative;

  .wrapper-inner {
    .clearfix();
  }

  &:before {
    content: '';
    display: block;
    width: 555px;
    height: 681px;
    background: url(../source/images/background-decor-left.png) no-repeat 0 0;
    position: absolute;
    right: ~"calc(50% + 405px)";
    bottom: 0;
    z-index: -1;
  }

  &:after {
    content: '';
    display: block;
    width: 607px;
    height: 643px;
    background: url(../source/images/background-decor-right.png) no-repeat 0 0;
    position: absolute;
    left: ~"calc(50% + 353px)";
    top: 0;
    z-index: -1;
  }

  h2 {
    color: @color-blue;
    font-size: 40px;
    text-align: left;
    line-height: 1;
  }

  .cooling-info {
    width: ~"calc(100% - 430px)";
    padding: 0 30px;
    float: left;

    p {
      font-family: 'Panton Semibold', sans-serif;
      font-size: 18px;
      line-height: 1.6;
      margin: 20px 0;
    }

    a {
      display: inline-block;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    }

    ul {
      display: block;
      padding: 0 15px;
    }

    li {
      display: block;
      font-family: 'Panton Semibold', sans-serif;
      font-size: 18px;
      line-height: 1;
      margin: 15px 0;
      padding: 0 0 0 20px;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background: @color-blue;
        transform: rotate(45deg);
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }

    }

  }

  .form-appointment {
    display: block;
    width: 400px;
    float: right;
    padding: 0 0 40px;
    margin: 0 0 30px 0;
    background: #e3e6e7;
    -webkit-box-shadow: -10px 10px 0 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: -10px 10px 0 0 rgba(0, 0, 0, .3);
    box-shadow: -10px 10px 0 0 rgba(0, 0, 0, .3);

    .title {
      display: block;
      width: 100%;
      background: @color-blue;
      text-align: center;
      color: #fff;
      font-family: 'Panton Bold', sans-serif;
      font-size: 30px;
      line-height: 1.2;
      padding: 15px 0;
    }

    .sub-title {
      font-size: 24px;
      color: #333;
      text-align: center;
      margin: 30px 0;
    }

    label {
      display: block;
      width: ~"calc(100% - 50px)";
      margin: 25px auto;
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 20px;
        position: absolute;
        left: -8px;
        bottom: -8px;
        top: -8px;
        border: 1px solid #96b3db;
        border-right: none;
        .smooth(.4s);
      }

      &:after {
        content: '';
        display: block;
        width: 20px;
        position: absolute;
        right: -8px;
        bottom: -8px;
        top: -8px;
        border: 1px solid #96b3db;
        border-left: none;
        .smooth(.4s);
      }

      &:hover:before,
      &:hover:after {
        width: 60%;
      }

    }

    input {
      display: block;
      width: 100%;
      border: none;
      height: 50px;
      background: #fff;
      padding: 0 20px;
    }

    button {
      display: block;
      width: ~"calc(100% - 50px)";
      margin: 20px auto 0;
      border: none;
      background: linear-gradient(to bottom, #fb5d97, #e53072 40%);
      height: 53px;
      line-height: 53px;
      font-family: 'Panton Semibold', sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: #fff;

      &:hover {
        background: linear-gradient(to top, #fb5d97, #e53072 40%);
      }

    }

  }

  .cooling-logos {
    display: block;
    width: 400px;
    float: right;
    text-align: center;

    a {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      margin: 15px 10px;

      img {
        width: auto;
        max-width: 100%;
      }

      &:hover {
        opacity: .7;
      }

    }

  }

  .show-more {
    display: none;
  }

  @media(max-width: 980px) {

    .wrapper-inner {
      padding-bottom: 450px;
    }

    .cooling-info,
    .form-appointment,
    .cooling-logos {
      width: 100%;
      float: none;
    }

    .form-appointment {
      box-shadow: none;
      width: ~"calc(100% - 40px)";
      position: absolute;
      bottom: 0;
      left: 20px;
      margin: 0;
    }

  }

  @media(max-width: 768px) {

    h2 {
      font-size: 33px;

      br {
        display: none;
      }

    }

    .cooling-info {

      p,
      h3,
      ul {
        display: none;

        &.active {
          display: block;
        }

      }

      p:first-of-type {
        display: block;
      }

      .show-more {
        display: block;

        span {
          font-family: 'Panton Bold', sans-serif;
          font-size: 16px;
          text-transform: uppercase;
          color: @color-crimson;

          &:last-of-type {
            display: none;
          }

        }

        &.active {

          span {

            &:first-of-type {
              display: none;
            }

            &:last-of-type {
              display: block;
            }

          }

        }

      }

    }

  }

}