/***********************************************************************************************************************
*********** our-clients
***********************************************************************************************************************/

.our-clients {

  h2 {
    color: @color-blue;
  }

  .slider-clients {
    display: block;
    width: 80%;
    margin: 100px auto 30px;

    .slide {
      min-height: 110px;
      outline: 0;
      padding: 0 10px;
      position: relative;
      margin: 0 10px;

      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:hover,
      &:active {
        outline: 0;
      }

    }

    @media(max-width: 768px) {
      width: ~"calc(100% - 80px)";
      margin: 30px auto;

      .slick-prev {
        left: -33px;
      }

      .slick-next {
        right: -33px;
      }

    }

  }

}

.slider {

  .slide:hover,
  .slide:active,
  .slide:focus {
    outline: none;
  }

}

.slider {

  .slick-arrow {
    display: block;
    width: 29px;
    height: 52px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    color: transparent;
    font-size: 0;
    border: none;
    cursor: pointer;
    .smooth(none);
  }

  .slick-prev {
    background: url(../source/images/arrow-left.png) no-repeat right top;
    left: -70px;

    &:hover {
      background: url(../source/images/arrow-left.png) no-repeat left top;
    }

  }

  .slick-next{
    background: url(../source/images/arrow-right.png) no-repeat left top;
    right: -70px;

    &:hover {
      background: url(../source/images/arrow-right.png) no-repeat right top;
    }

  }

}